.venv
.env
__pycache__/ 

logs
data
pretrained_models
pretrained_models.zip

train.log

*.log

*.png

src.egg-info

notebooks/old_notebooks/*

scripts/experiment_launcher.sh
scripts/post_process_launcher.sh
